<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803564827876-6sa2fg86oivulttgqv4k2jqscin8i1tb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803564827876-6sa2fg86oivulttgqv4k2jqscin8i1tb</string>
	<key>API_KEY</key>
	<string>AIzaSyBlVF6UcozhvkWz-xSNsabzT0gxboCHOAw</string>
	<key>GCM_SENDER_ID</key>
	<string>803564827876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samvid.Capitals</string>
	<key>PROJECT_ID</key>
	<string>capitals-f0b64</string>
	<key>STORAGE_BUCKET</key>
	<string>capitals-f0b64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803564827876:ios:f0a20297e653b4a95fa8f1</string>
	<key>DATABASE_URL</key>
	<string>https://capitals-f0b64.firebaseio.com</string>
</dict>
</plist>